/*
 * Push Button в стиле Metro
 * Автор: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-width: 1;
    -fx-border-radius: 5, 5;
    -fx-font-family: "Leelawadee";
    -fx-font-size: 15pt;
    -fx-background-color:linear-gradient( #bd5c5c, #934a4a);
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.root{
    -fx-background-color: #202020;
    -fx-background-size: none;
}

.button:hover {
    -fx-background-color: linear-gradient( #a85454, #7f4141);
    -fx-text-fill: #ffffff;
    -fx-border-color: #823b3b, #893f3f;
    -fx-border-radius: 5;
}

.button:focused {
    -fx-border-color: #ffc428;
    -fx-border-radius: 5;
}

.clipboardInfo {
    -fx-font-size: 11pt;
    -fx-font-family: "Leelawadee";
    -fx-background-color: #202020;
    -fx-text-fill: #afaba6;
    -fx-border-color: none;
    -fx-text-alignment: left;
    -fx-alignment: top-left;
}

.buttonClear:hover {
    -fx-background-color: linear-gradient(#36a763, #1c6d43);
    -fx-text-fill: #ffffff;
    -fx-border-color: none;
    -fx-border-radius: 5;
}

.buttonClear{
    -fx-padding: 5 22 5 22;
    -fx-border-width: 1;
    -fx-font-family: "Leelawadee";
    -fx-font-size: 15pt;
    -fx-background-color: linear-gradient(#3bbd6e, #318e56);
    -fx-text-fill: #ffffff;
    -fx-border-color: none;
    -fx-border-radius: 5;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.buttonClipboard:hover {
    -fx-background-color:linear-gradient(#387ca0, #28556d);
    -fx-text-fill:  #ffffff;
    -fx-border-color: none;
    -fx-border-radius: 5;
}

.buttonClipboard{
    -fx-padding: 5 22 5 22;
    -fx-border-width: 1;
    -fx-border-radius: 5, 5;
    -fx-font-family: "Leelawadee";
    -fx-font-size: 15pt;
    -fx-background-color: linear-gradient(#4091b8, #347390);
    -fx-border-color: none;
    -fx-text-fill:  #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}